notices {
    color: red;
    font-family: verdana;
    font-size: 18px;
  }
  roles {
    color: rgb(48, 86, 157);
    font-family: verdana;
    font-size: 18px;
  }
  maintext {
    color: rgb(0, 0, 0);
    font-family: verdana;
    font-size: 18px;
  }